body {
    margin: 0;
    padding: 6rem;
    background-color: hsl(217, 54%, 11%);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Outfit", sans-serif;
}

.title {
    color: white;
}

.subtitle {
    color: hsl(215, 51%, 70%);
}

.price {
    color: hsl(178, 100%, 50%);
}

.time {
    color: hsl(215, 51%, 70%);
}

.author {
    color: hsl(215, 51%, 70%);
}

.card {
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.233);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

.avatar {
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 1.5vw;
}

.cripto {
    width: 100%;
    height: 40vh;
    border-radius: 10px;
}

.sectionCard {
    display: flex;
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    vertical-align: middle;
}

.vertical-line {
    width: 100%;
    border-top: 0.5px solid  hsl(215, 32%, 27%);
}

/* RESPONSIVIDADE - TO DO */

/* @media (max-width: 400px) {
    body {
        width: 100vw;
        height: 100vh;
        padding-top: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 90vw;
    }
} */